menubar,
.menubar {
  -GtkWidget-window-dragging: true;
  padding: 0px;
  color: #E7E7E7;
  background-color: #A3A9B1; }
headerbar,
.titlebar:not(headerbar) {
  min-height: 38px;
  padding: 8px 8px;
  color: #3c3c3e;
  border-width: 0 0 1px;
  border-style: solid;
  border-radius: 0;
  border-color: #C7C7C7; /*b9b9b9*/
  background-color: transparent;
  background-image: linear-gradient(to bottom, #A3A9B1, #A3A9B1);
  box-shadow: none; }
.titlebar {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px; }
headerbar button,
.titlebar button
{
background-image: none;
color: #ffffff;
background-color: #AEB4BD;
border-width: 1px;
border-style: solid;
border-color: #787878;
}
  .solid-csd decoration {
    border-radius: 0;
    margin: 1px 0px 0px 0px;
    background-color: #f7f7f7;
    border: solid 1px #8D8F91; /*87888A*/
    box-shadow: inset 0 1px #A3A9B1; }
