style "menubar"
{
	xthickness					= 0
	ythickness					= 3

	GtkMenuBar	:: internal-padding		= 0
	GtkMenuItem	:: horizontal-padding		= 8
	GtkMenuBar	:: window-dragging		= 1

	bg[NORMAL]					= @bg_color							#Menubar background color
	bg[SELECTED]					= @selected_bg_color							#Selected Border Color for Chrome
	fg[NORMAL]					= mix (0.55, @fg_color, shade (1.0, @bg_color))		#Menubar text color
	fg[INSENSITIVE]					= mix (0.2, @fg_color, shade (1.0, @bg_color))		#Disabled Menu text
	fg[PRELIGHT]					= @selected_fg_color
	text[NORMAL]					= mix (0.83, @fg_color, shade (1.0, @bg_color))		#For OpenOffice
	bg[INSENSITIVE]					= @bg_color							#Temporarily disabled menu text (loading/root apps)


        engine "murrine"
	{
		menubaritemstyle			= 0							# 0 menu-item look, 1 button look
		menubarstyle				= 0							# 0flat, 1glassy, 2gradient, 3striped
		contrast				= 0.05							#Makes line under menubar lighter
		roundness				= 0
		gradient_shades 			= {1.0,1.0,1.0,1.0}					#{1.0,1.3,1.6,2.0} & round3 if Menubar Gradient
	}
}


style "menu-item"
{
	ythickness					= 3							#Changes spacing between menu items,
					    									#also adds padding to top and bottom of menubar.
														# (Also see menubar)
	GtkMenuItem	:: horizontal-padding		= 8
	GtkMenuItem	:: arrow-spacing		= 0
	GtkMenuItem	:: arrow-scaling		= 0.5

	bg[SELECTED]					= @selected_bg_color					#Menus - Background Prelight Color

	fg[INSENSITIVE]					= shade (0.9, @bg_color)				#Menus - Text Color - Disabled
	fg[PRELIGHT]					= @selected_fg_color					#Menus - Text Color - Prelight
	bg[INSENSITIVE]					= shade (0.9, @bg_color)				#Menus - Disabled Modifier Text (also see fg[INSENSITIVE])

	text[PRELIGHT]					= @selected_fg_color					#Combobox Popup - Text Color -Prelight

	text[NORMAL]					= @fg_color						#Combobox Popup - Text Color

        engine "murrine"
	{
		menuitemstyle				= 0							# 0 = flat, 1 = glassy, 2 = striped
		contrast				= 0.0
		roundness				= 1
		gradient_shades				= {1.0,1.0,1.0,1.0}
        }
}
