style "scrollbar"
{
	GtkScrollbar	:: has-backward-stepper		= 0
	GtkScrollbar	:: has-forward-stepper		= 0
	GtkScrollbar	:: has-secondary-backward-stepper	= 0
	GtkScrollbar	:: has-secondary-forward-stepper	= 0
	GtkRange	:: trough-under-steppers		= 0
	GtkRange	:: stepper-size				= 10				#ArrowButtonSize: Up (Up) Down (Down) Left Right (Left Right) (B A Select Start)
	GtkRange	:: arrow-scaling 			= 0.45

	GtkRange	:: trough-border		= 0

	GtkScrollbar	:: fixed-slider-length		= 0				#1
	GtkRange	:: slider-width			= 12
	GtkScrollbar	:: min-slider-length		= 125				#85


	bg[SELECTED]					= shade (1.3, @selected_bg_color)			#Color of Scrollbar 1.55 2015-10
	bg[NORMAL]					= shade (1.09, @bg_color)					#For Handles & Stepper Background

	fg[NORMAL]					= shade (1.5, @bg_color)					#Stepper Color
	fg[INSENSITIVE]					= shade (0.6, @bg_color)					#Stepper Color

	engine "murrine"
	{
		trough_shades				= { 2.0, 2.0 }
		gradient_shades				= {1.0,1.0,1.0,1.0}#{1.1,1.05,1.0,0.96}
		contrast				= 0.0
		roundness				= 0
		scrollbarstyle				= 0								#Enable or disable circles, stripes, handles
		stepperstyle				= 0								# 0 = standard, 1 = integrated handles, 2 = unknown
				focus_color				= "yellow"
		border_colors				= {shade (1.1, @selected_bg_color), shade (1.1, @selected_bg_color)}
		prelight_shade = 0.75
  	}
}

style "firefox-scrollbar"
{
	GtkScrollbar	:: has-backward-stepper		= 0
	GtkScrollbar	:: has-forward-stepper		= 0					#Hack for OpenOffice (& LibreOffice?) Bug
												#OpenOffice won't theme its scrollbars unless arrow button steppers are used.
												#By setting this to 1, and stepper size to 1,
												#it makes them look nearly invisible, while making OpenOffice work.
	GtkScrollbar	:: has-secondary-backward-stepper	= 0
	GtkScrollbar	:: has-secondary-forward-stepper	= 0
	GtkRange	:: trough-under-steppers		= 0
	GtkRange	:: stepper-size				= 10				#ArrowButtonSize: Up (Up) Down (Down) Left Right (Left Right) (B A Select Start)
	GtkRange	:: arrow-scaling 			= 0.45

	GtkRange	:: trough-border		= 0

	GtkScrollbar	:: fixed-slider-length		= 0				#1
	GtkRange	:: slider-width			= 14
	GtkScrollbar	:: min-slider-length		= 125				#85


	bg[SELECTED]					= shade (1.0, @selected_bg_color)			#Color of Scrollbar
	bg[NORMAL]					= shade (1.09, @bg_color)					#For Handles & Stepper Background

	fg[NORMAL]					= shade (1.5, @bg_color)					#Stepper Color
	fg[INSENSITIVE]					= shade (0.6, @bg_color)					#Stepper Color

	engine "murrine"
	{
		trough_shades				= { 2.0, 2.0 }
		gradient_shades				= {1.0,1.0,1.0,1.0}#{1.1,1.05,1.0,0.96}
		contrast				= 0.0
		roundness				= 0
		scrollbarstyle				= 0								#Enable or disable circles, stripes, handles
		stepperstyle				= 1								# 0 = standard, 1 = integrated handles, 2 = unknown
				focus_color				= "yellow"
		border_colors				= {shade (1.25, @tooltip_bg_color), shade (1.25, @tooltip_bg_color)}
prelight_shade =0.9
  	}
}


widget		"*Gtk*Scrollbar*"							style:rc		"scrollbar"		#Scrollbars
widget "*MozillaGtkWidget*Scrollbar*"       		style:rc "firefox-scrollbar"
