GtkScale {
    -GtkRange-slider-width: 18;
    -GtkRange-trough-border: 0;
    -GtkScale-slider-length: 18;
    -GtkWidget-focus-line-width: 0;
}

GtkScale.vertical {
    -GtkScale-slider-length: 13;
}

.scale.slider {
background-image: -gtk-gradient (linear, left top, left bottom,
					from (shade (@bg_color, 1.15)),
					color-stop (0.50, shade (@bg_color, 1.04)),
					to (shade (@bg_color, 0.9)));
border-width: 1px;
border-style: solid;
border-color: shade (@bg_color, 0.7);
border-radius: 100px;
}

.scale.slider:hover {
background-image: -gtk-gradient (linear, left top, left bottom,
					from (shade (@bg_color, 1.25)),
					color-stop (0.50, shade (@bg_color, 1.14)),
					to (shade (@bg_color, 1.0)));
border-width: 1px;
border-style: solid;
border-color: shade (@bg_color, 0.7);
border-radius: 100px;
}

.scale.trough
{
padding: 6px; /*7 or 8*/
border-color: red;
box-shadow: none;
background-color: @transparent;
background-image: -gtk-gradient (linear, left top, left bottom,
					from (shade (@bg_color, 0.75)),
					color-stop (0.50, shade (@bg_color, 0.85)),
					to (shade (@bg_color, 0.9)));
    background-clip: content-box;
}


/* SQUARED

GtkScale {
    -GtkRange-slider-width: 16;
    -GtkRange-trough-border: 0;
    -GtkScale-slider-length: 30;
    -GtkWidget-focus-line-width: 0;
}

GtkScale.vertical {
    -GtkScale-slider-length: 13;
}

.scale.slider {
background-image: none;
background-color: shade (@bg_color, 1.7);
border-width: 1px;
border-style: solid;
border-color: shade (@bg_color, 0.7);
border-radius: 1px;
padding: 0px;
}

.scale.trough
{
padding: 6px;
border-color: red;
background-color: @transparent;
background-image: -gtk-gradient (linear, left top, left bottom,
					from (shade (@bg_color, 0.75)),
					color-stop (0.50, shade (@bg_color, 0.85)),
					to (shade (@bg_color, 0.9)));
    background-clip: content-box;
}

*/

.scale.trough.highlight {
background-color: @transparent;
background-image: -gtk-gradient (linear, left top, left bottom,
					from (shade (@bg_color, 0.55)),
					color-stop (0.50, shade (@bg_color, 0.65)),
					to (shade (@bg_color, 0.70)));
}

.scale.trough.highlight.left {
    margin: 7px 0 7px 0;
}


.scale.trough.highlight.bottom {
    margin: 0 7px 0 7px;
}

GtkScale.mark {
    border-color: green;
}
