.scrollbar {
    background-image: none;
    border-style: solid;
    -GtkRange-trough-border: 0;
    -GtkRange-arrow-scaling: 0.444;
    -GtkRange-slider-width: 10;
    -GtkRange-stepper-size: 8;
    -GtkScrollbar-min-slider-length: 30; /* minimum size for the slider. sadly can't be in '.slider' where it belongs */

    -GtkRange-stepper-spacing: 0;
    -GtkRange-trough-under-steppers: 1;
    
    -GtkScrollbar-has-backward-stepper: 0;
    -GtkScrollbar-has-forward-stepper: 0;
}

.scrollbar.trough {
    background-image: none;
    background-color: @transparent;
    border-width: 0px;
    border-radius: 20px;
}

.scrollbar.slider,
.scrollbar.button {
    background-image: none;
    background-color: shade (@bg_color, 0.55);
    border-color: shade (@bg_color, 0.55);
    border-radius: 30px;
    border-width: 1px;

    border-image: none;
    	transition: 100ms ease-in-out;
}

.scrollbar.slider:prelight {
	background-color: shade (@bg_color, 0.5);
    border-color: shade (@bg_color, 0.5);
}

.scrollbar.slider:prelight:active {
    border-color: shade (@bg_color, 0.5);
    background-color: shade (@bg_color, 0.5);
}

.scrollbar.button {
    color: red;
}

.scrollbar.button:prelight {
    background-image: none;
    background-color: @base_color;
    border-color: shade (@fg_border, 0.964)
}

.scrollbar.button:prelight:active {
    background-image: none;
    background-color: @base_color;
    border-color: shade (@fg_border, 0.964)
}

.scrollbar.button:insensitive {
    color: red;
    background-color: @base_color;
    border-color: green;
}

.scrollbar.slider:insensitive {
    background-color: @base_color;
}

.scrollbar.trough:insensitive {
    background-color: shade (@bg_color, 0.882);
}
