/* desktop mode */
.nautilus-desktop.nautilus-canvas-item {
    color: #FFFFFF;
    text-shadow: 1 1 alpha (#000000, 0.5);
}

.nautilus-desktop.nautilus-canvas-item:selected,
.nautilus-desktop.nautilus-canvas-item:active {
    background-image: none;
    background-color: alpha (@selected_bg_color, 0.84);
    border-radius: 4px;

    color: @selected_fg_color;
}

.nautilus-desktop.nautilus-canvas-item:active,
.nautilus-desktop.nautilus-canvas-item:prelight,
.nautilus-desktop.nautilus-canvas-item:selected {
    text-shadow: none;
}

NautilusIconView > NautilusIconContainer
{
    background-color: @base_color;
    
    /*     background-color: shade (@tooltip_bg_color, 0.75);
        color: @base_color; */
}

NautilusIconView > NautilusIconContainer *:selected
{
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}

NautilusIconView .nautilus-canvas-item:active,
NautilusIconView .nautilus-canvas-item:selected
{
    background-color: @selected_bg_color;
color: @selected_fg_color;
border-radius: 5px;
}

NautilusSearchBar.info
{
background-image: -gtk-gradient (linear,
				     left top, left bottom,
				     from (shade (@infobar_bg_color, 1.0)),
				     to (shade (@infobar_bg_color, 1.0)));
    border-width: 0px 0px;
    border-style: solid;

}

NautilusTrashBar.info,
NautilusXContentBar.info,
NautilusQueryEditor.info
{
background-image: -gtk-gradient (linear,
				     left top, left bottom,
				     from (shade (@infobar_bg_color, 1.0)),
				     to (shade (@infobar_bg_color, 1.0)));
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: shade (@infobar_bg_color, 1.0);

}

.nautilus-cluebar-label {
    font: bold;
    color: @infobar_fg_color;
}

NautilusFloatingBar {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade (@bg_color, 1.05)),
                                     to (shade (@bg_color, 0.95)));

    border-color: shade (@bg_color, 0.85);
color: mix (@fg_color, @bg_color, 0.35);
    border-radius: 3px 3px 0px 0px;
    border-width: 1px;
    border-style: solid;
}

NautilusFloatingBar .button {
    background-color: alpha (@bg_color, 0.0);
    background-image: none;

    border-style: none;
    border-image: none;

    -GtkButton-image-spacing: 0;
    -GtkButton-inner-border: 0;
}

NautilusWindow .notebook
{
padding: 2px;

-GtkWidget-focus-padding: 1;
}

NautilusWindow .primary-toolbar .toolbar GtkComboBox,
NautilusWindow .primary-toolbar.toolbar GtkComboBox,
NautilusWindow .primary-toolbar .toolbar .button,
NautilusWindow .primary-toolbar.toolbar .button {
    border-radius: 2px;
    padding: 7px 7px;
    
    }

NautilusWindow .notebook tab {
	padding: 4px 2px 2px 2px;
	border-width: 1px;
	border-style: solid;
	background-image:  -gtk-gradient (linear,
				     left top, left bottom,
				     from (shade (@bg_color, 1.03)),
                                     color-stop (0.45, shade (@bg_color, 1.0)),
                                     color-stop (0.75, shade (@bg_color, 0.95)),
				     to (shade (@bg_color, 0.92)));

/************
	-adwaita-focus-border-radius: 0;
 ************/
}

NautilusWindow .notebook tab:active,
NautilusWindow .notebook tab:selected {
	padding: 4px 2px 2px 2px;
	background-image: none;
	background-color: shade (@bg_color, 1.04);
	
/************
	-adwaita-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.85)),
		to (shade (@bg_color, 0.85)));

	-adwaita-selected-tab-color: @selected_bg_color;
	-adwaita-focus-fill-color: @transparent;
 ************/
}

NautilusWindow .notebook tab .button,
NautilusWindow .notebook tab .button:hover,
NautilusWindow .notebook tab .button:hover:active {
}
