/* Victory (Strikes Again) Adwaita based theme by Darin */

RBDisplayPageTree OsThumb:selected,
RBDisplayPageTree OsScrollbar:selected,
NautilusPlacesSidebar OsThumb:selected,
NautilusPlacesSidebar OsScrollbar:selected,
MarlinPlacesSidebar OsThumb:selected,
MarlinPlacesSidebar OsScrollbar:selected,
TotemPlaylist GtkTreeView OsThumb:selected,
TotemPlaylist GtkTreeView OsScrollbar:selected,
FMTreeView OsThumb:selected,
FMTreeView OsScrollbar:selected,
GtkFileChooserDefault .sidebar.view OsThumb:selected,
GtkFileChooserDefault .sidebar.view OsScrollbar:selected,
FrWindow GtkTable GtkVBox GtkScrolledWindow OsThumb:selected,
FrWindow GtkTable GtkVBox GtkScrolledWindow OsScrollbar:selected
{
    background-color: @sidebar_fg_color;
}

RBDisplayPageTree .cell,
TotemPlaylist GtkTreeView .cell,
NautilusPlacesSidebar .cell,
MarlinPlacesSidebar .cell,
FrWindow > GtkGrid > GtkPaned > GtkBox > GtkScrolledWindow > GtkTreeView,
.sidebar
{
background-color: @sidebar_bg_color;
color: @sidebar_fg_color;
border-radius: 0px;
border-width: 0px;
padding:0px;
}

NautilusWindow > GtkTable > .pane-separator,
NautilusWindow .pane-separator
{
background-color: @sidebar_divider_color;
color: @sidebar_divider_color;
border-width: 0px 1px 0px 0px;
border-style: none;
border-color: shade (@bg_color, 0.84);
}

NautilusWindow > GtkTable > .pane-separator:hover,
NautilusWindow .pane-separator:hover
{
color: @sidebar_divider_color;
}

NautilusWindow .sidebar .frame {
}


RBDisplayPageTree .cell:selected,
RBDisplayPageTree .cell:selected:focused,
TotemPlaylist .cell:selected,
NautilusPlacesSidebar .cell:selected,
MarlinPlacesSidebar .cell:selected,
FMTreeView row:selected,
FMTreeView row:selected:focused,
GtkFileChooserDefault .sidebar.view:selected,
GtkFileChooserDefault .sidebar.view:selected:focused,
FrWindow GtkTable GtkVBox GtkScrolledWindow GtkTreeView:selected,
FrWindow GtkTable GtkVBox GtkScrolledWindow GtkTreeView:selected:focused,
FrWindow > GtkGrid > GtkPaned > GtkBox > GtkScrolledWindow > GtkTreeView:selected,
FrWindow > GtkGrid > GtkPaned > GtkBox > GtkScrolledWindow > GtkTreeView:selected:focused
{
background-color: @sidebar_selected_bg_color;
color: @sidebar_selected_fg_color;
border-width: 1px;
border-style: solid;
border-color: @sidebar_selected_bg_color;
}

GtkFileChooserDefault .sidebar.separator,
GtkFileChooserDefault .sidebar.separator:hover
{
background-color: alpha (@sidebar_bg_color, 0.0);
border-color: alpha (@sidebar_bg_color, 0.0);
}

GtkFileChooserDefault .sidebar.view .separator,
GtkFileChooserDefault .sidebar.view .separator:hover
{
color: @transparent;
}

GtkFileChooserDefault .sidebar.view.separator,
GtkFileChooserDefault .sidebar.view.separator:hover
{
color: @transparent;
}

/*FrWindow GtkTable GtkVBox GtkScrolledWindow GtkTreeView expander*/

/*RBDisplayPageTree .scrollbar.trough,
TotemPlaylist GtkTreeView .scrollbar.trough,
FMTreeView .scrollbar.trough,
GtkFileChooserDefault .sidebar.view.trough,
FrWindow GtkTable GtkVBox GtkScrolledWindow .scrollbar.trough,*/
MarlinPlacesSidebar .scrollbar.trough,
NautilusPlacesSidebar .scrollbar.trough
{
	background-color: @sidebar_bg_color;
}

MarlinPlacesSidebar .scrollbar,
NautilusPlacesSidebar .scrollbar
{
        -GtkRange-slider-width: 10;
}


MarlinPlacesSidebar .scrollbar.slider,
NautilusPlacesSidebar .scrollbar.slider
{
        border-style: none;
        background-image: none;
        background-color: @base_color;
}

NautilusPlacesSidebar
{
color: @sidebar_fg_color;
}

RBDisplayPageTree .expander,
RBDisplayPageTree .expander:hover,
RBDisplayPageTree .expander:active,
RBDisplayPageTree .expander:active:hover
{
background-image: none;
background-color: @sidebar_fg_color;
color: @sidebar_bg_color;
}

RBDisplayPageTree .expander:active:selected,
RBDisplayPageTree .expander:focused:selected,
RBDisplayPageTree .expander:selected
{
background-image: none;
background-color: @sidebar_bg_color;
color: @sidebar_fg_color;
}

MarlinPlacesSidebar .expander,
MarlinPlacesSidebar .expander:hover,
MarlinPlacesSidebar .expander:active,
MarlinPlacesSidebar .expander:active:hover,
MarlinPlacesSidebar .expander:active:selected,
MarlinPlacesSidebar .expander:focused:selected,
MarlinPlacesSidebar .expander:selected
{
background-image: none;
background-color: @sidebar_fg_color;
color: shade (@sidebar_bg_color, 0.89);
}

/*
GeditDocumentsPanel .view,
GeditPanel .view
* 
GeditPanel .expander*/
