/* Victory (Strikes Again) Adwaita/Ambiance based theme by Darin */

/***************
 * menubaritem *
 ***************/

.menubar .menuitem:prelight
{
background-color: @transparent;
	text-shadow: none;
}
.menubar .menuitem:hover
{

    background-image: -gtk-gradient (linear, left top, left bottom,
				     from (shade (@selected_bg_color, 1.13)),
				     to (shade (@selected_bg_color, 0.94)));
    color: shade (@selected_fg_color, 1.0);
border-style: solid;
border-color: shade (@selected_bg_color, 0.83);
/* border-width: 1px 1px 0px 1px; */
}

.menu
{
    padding: 0px;
    background-image: -gtk-gradient (linear, left top, left bottom,
				     from (shade (@menu_light_bg_color, 1.2)),
				     to (shade (@menu_light_bg_color, 1.2)));
				     
/*
    background-image: -gtk-gradient (linear, left top, left bottom,
				     from (shade (@menu_light_bg_color, 1.08)),
				     to (shade (@menu_light_bg_color, 0.98)));
*/
				     
				     /*to (shade (@menu_light_bg_color, 0.98)));*/
    /* background-color: shade (@menu_light_bg_color, 1.06); */
    /*
        background-image: -gtk-gradient (linear, left top, left bottom,
				     from (shade (@menu_light_bg_color, 1.1)),
				     to (shade (@menu_light_bg_color, 1.02)));
	*/
    color: shade (@menu_light_fg_color, 1.1);
    border-style: solid;
    border-width: 1px;
    border-radius: 1px;
    border-color: shade (@menu_light_bg_color, 0.74);
    text-shadow: none;
font-weight: normal;
    -GtkMenuItem-arrow-scaling: 0.4;
}

.menu .arrow
{
color: shade (@menu_light_fg_color, 1.2);
}

.menu .menuitem.separator {
    border-style: solid;
        border-width: 0px;
        padding: 5px;
        -GtkMenuItem-horizontal-padding: 40;
}

.menu .menuitem
{
padding: 3px 10px;
background-color: @transparent;
}

.menuitem:hover,
.menuitem:prelight
 {
    color: @selected_fg_color;
        background-image: -gtk-gradient (linear, left top, left bottom,
				     from (shade (@selected_bg_color, 1.13)),
				     to (shade (@selected_bg_color, 0.94)));
border-style: solid;
border-width: 1px 0px 1px 0px;
border-color: shade (@selected_bg_color, 0.83);
}

.menu .menuitem:insensitive,
.menu .menuitem .accelerator:insensitive
{
	color: shade (@menu_light_bg_color, 0.89);
	text-shadow: none;
}

.menu .menuitem .accelerator
{
color: shade (@menu_light_bg_color, 0.89);
}

.menu .menuitem .accelerator:prelight,
.menu .menuitem .accelerator:active {
    color: @selected_fg_color;
}
