NautilusCanvasView
{
    background-color: @base_color;
    
    /*     background-color: shade (@tooltip_bg_color, 0.75);
        color: @base_color; */
        border-top: 1px;
        border-left: 1px;
        border-bottom: 0px;
        border-right: 0px;
}
