NautilusWindow > GtkGrid > GtkPaned {
    -GtkPaned-handle-size: 0px;
}

NautilusIconView > NautilusIconContainer,
NautilusCanvasView
{
    background-color: @base_color;
    
    /*     background-color: shade (@tooltip_bg_color, 0.75);
        color: @base_color; */
	border-width: 0px;
border-style: solid;
border-color: red;
}



NautilusFloatingBar {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade (@bg_color, 1.1)),
                                     to (shade (@bg_color, 1.1)));

    border-color: shade (@bg_color, 0.76);
color: mix (@fg_color, @bg_color, 0.35);
    border-radius: 0px 0px 0px 0px;
    border-width: 1px 1px 0px 1px;
    border-style: solid;
}

NautilusFloatingBar .button {
    background-color: alpha (@bg_color, 0.0);
    background-image: none;

    border-style: none;
    border-image: none;

    -GtkButton-image-spacing: 0;
    -GtkButton-inner-border: 0;
}

NautilusWindow .notebook
{
    -GtkNotebook-tab-overlap: 0;
padding: 0px;
border-left: none;
border-right: none;
border-bottom: none;
border-top: none;
background-color: green;
-GtkWidget-focus-padding: 0;
}

NautilusWindow .notebook:active
{
border-width: 0px 0px 0px 0px;
padding: 0px;
border-color: white;
}

NautilusWindow .notebook tab {
	padding: 2px 2px 2px 6px;
	border-style: solid;
	border-width: 1px 0px 0px 0px;
	background-image: none;
	background-color: shade (@bg_color, 0.92);
	border-color: shade (@bg_color, 0.76);
}

NautilusWindow .notebook tab:active,
NautilusWindow .notebook tab:selected {
	padding: 2px 2px 2px 6px;
	background-image: none;
	border-width: 1px 0px 0px 0px;
	background-color: shade (@bg_color, 1.04);
	border-color: shade (@bg_color, 0.76);
	border-bottom: none;
}

/*
Old, good

NautilusWindow .notebook
{
padding: 0px;

-GtkWidget-focus-padding: 1;
}

NautilusWindow .notebook:active
{
border-width: 1px 1px 0px 1px;
padding: 0px;
}

NautilusWindow .notebook tab {
	padding: 2px 2px 2px 6px;
	border-width: 1px;
	border-style: solid;
	background-image: none;
}

NautilusWindow .notebook tab:active,
NautilusWindow .notebook tab:selected {
	padding: 2px 2px 2px 6px;
	background-image: none;
	background-color: shade (@bg_color, 1.04);
}


*/

NautilusWindow .notebook tab .button,
NautilusWindow .notebook tab .button:hover,
NautilusWindow .notebook tab .button:hover:active {
}

/* desktop mode */
.nautilus-desktop.nautilus-canvas-item {
    color: purple;
    text-shadow: 1px 1px alpha (#000000, 0.5);
}

.nautilus-desktop.nautilus-canvas-item:selected,
.nautilus-desktop.nautilus-canvas-item:active {
    background-image: none;
    background-color: alpha (@selected_bg_color, 0.84);
    border-radius: 4px;

    color: red;
}

.nautilus-desktop.nautilus-canvas-item:active,
.nautilus-desktop.nautilus-canvas-item:prelight,
.nautilus-desktop.nautilus-canvas-item:selected {
    text-shadow: none;
}


NautilusIconView > NautilusIconContainer *:selected
{
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}

NautilusIconView .nautilus-canvas-item:active,
NautilusIconView .nautilus-canvas-item:selected
{
    background-color: @selected_bg_color;
color: @selected_fg_color;
border-radius: 5px;
}



NautilusToolbar > GtkToolbar
{
-GtkWidget-window-dragging: true;
padding: 10px 10px 10px 10px;
}


NautilusSearchBar.info
{
	background-image: -gtk-gradient (linear,
				     left top, left bottom,
				     from (shade (@bg_color, 1.0)),
				     to (shade (@bg_color, 1.0)));
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    border-color: shade (@ptoolbar_bg_color, 0.9);
}

NautilusTrashBar.info,
NautilusXContentBar.info,
NautilusQueryEditor.info
{
	background-image: -gtk-gradient (linear,
				     left top, left bottom,
				     from (shade (@bg_color, 1.0)),
				     to (shade (@bg_color, 1.0)));
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: shade (@ptoolbar_bg_color, 0.9);
}

NautilusSearchBar .nautilus-cluebar-label,
.nautilus-cluebar-label {
    font: bold;
    color: @fg_color;
}

NautilusWindow .primary-toolbar .toolbar GtkComboBox,
NautilusWindow .primary-toolbar.toolbar GtkComboBox,
NautilusWindow .primary-toolbar .toolbar .button,
NautilusWindow .primary-toolbar.toolbar .button {
    border-radius: 2px;
    padding: 7px 7px;
    
    }


NautilusWindow .primary-toolbar .toolbar GtkComboBox,
NautilusWindow .primary-toolbar.toolbar GtkComboBox,
NautilusWindow .primary-toolbar .toolbar .button,
NautilusWindow .primary-toolbar.toolbar .button,
NautilusWindow .primary-toolbar GtkArrow
{
background-image: none;
background-color: #FFFFFF;
color: #575757;
    -GtkButton-child-displacement-x: 0;
    -GtkButton-child-displacement-y: 0;
}

NautilusWindow .primary-toolbar .toolbar GtkComboBox:insensitive,
NautilusWindow .primary-toolbar.toolbar GtkComboBox:insensitive,
NautilusWindow .primary-toolbar .toolbar .button:insensitive,
NautilusWindow .primary-toolbar.toolbar .button:insensitive,
NautilusWindow .primary-toolbar GtkArrow:insensitive
{
border-color: shade (@bg_color, 0.94);
background-image: none;
background-color: @bg_color;
color: shade (@bg_color, 0.9);
}


 Best Using All White
NautilusWindow .primary-toolbar .toolbar GtkComboBox,
NautilusWindow .primary-toolbar.toolbar GtkComboBox,
NautilusWindow .primary-toolbar .toolbar .button,
NautilusWindow .primary-toolbar.toolbar .button,
NautilusWindow .primary-toolbar GtkArrow
{
background-image: none;
background-color: #FFFFFF;
color: #575757;
    -GtkButton-child-displacement-x: 0;
    -GtkButton-child-displacement-y: 0;
}

NautilusWindow .primary-toolbar .toolbar GtkComboBox:active,
NautilusWindow .primary-toolbar.toolbar GtkComboBox:active,
NautilusWindow .primary-toolbar .toolbar .button:active,
NautilusWindow .primary-toolbar.toolbar .button:active,
NautilusWindow .primary-toolbar GtkArrow:active
{
background-image: none;
background-color: #FFFFFF;
color: #575757;
}

NautilusWindow .primary-toolbar .toolbar GtkComboBox:hover,
NautilusWindow .primary-toolbar.toolbar GtkComboBox:hover,
NautilusWindow .primary-toolbar .toolbar .button:hover,
NautilusWindow .primary-toolbar.toolbar .button:hover,
NautilusWindow .primary-toolbar GtkArrow:hover
{
background-image: none;
background-color: #FFFFFF;
}

NautilusWindow .primary-toolbar .toolbar GtkComboBox:active:hover,
NautilusWindow .primary-toolbar.toolbar GtkComboBox:active:hover,
NautilusWindow .primary-toolbar .toolbar .button:active:hover,
NautilusWindow .primary-toolbar.toolbar .button:active:hover,
NautilusWindow .primary-toolbar GtkArrow:active:hover
{
background-image: none;
background-color: #FFFFFF;
}

NautilusWindow .primary-toolbar .toolbar GtkComboBox:insensitive,
NautilusWindow .primary-toolbar.toolbar GtkComboBox:insensitive,
NautilusWindow .primary-toolbar .toolbar .button:insensitive,
NautilusWindow .primary-toolbar.toolbar .button:insensitive,
NautilusWindow .primary-toolbar GtkArrow:insensitive
{
border-color: shade (@bg_color, 0.94);
background-image: none;
background-color: @bg_color;
color: shade (@bg_color, 0.9);
}



/* Focused and Hover Buttons indented
NautilusWindow .primary-toolbar .toolbar GtkComboBox,
NautilusWindow .primary-toolbar.toolbar GtkComboBox,
NautilusWindow .primary-toolbar .toolbar .button,
NautilusWindow .primary-toolbar.toolbar .button,
NautilusWindow .primary-toolbar GtkArrow
{
background-image: none;
background-color: white;
color: #575757;
}

NautilusWindow .primary-toolbar .toolbar GtkComboBox:active,
NautilusWindow .primary-toolbar.toolbar GtkComboBox:active,
NautilusWindow .primary-toolbar .toolbar .button:active,
NautilusWindow .primary-toolbar.toolbar .button:active,
NautilusWindow .primary-toolbar GtkArrow:active
{
-GtkButton-child-displacement-x: 0;
-GtkButton-child-displacement-y: 0;
background-image:  -gtk-gradient (linear,
left top, left bottom,
from (shade (@bg_color, 0.98)),
to (shade (@bg_color, 1.7)));
}

NautilusWindow .primary-toolbar .toolbar GtkComboBox:hover,
NautilusWindow .primary-toolbar.toolbar GtkComboBox:hover,
NautilusWindow .primary-toolbar .toolbar .button:hover,
NautilusWindow .primary-toolbar.toolbar .button:hover,
NautilusWindow .primary-toolbar GtkArrow:hover
{
-GtkButton-child-displacement-x: 0;
-GtkButton-child-displacement-y: 0;
background-image:  -gtk-gradient (linear,
left top, left bottom,
from (shade (@bg_color, 0.98)),
to (shade (@bg_color, 1.7)));
}

NautilusWindow .primary-toolbar .toolbar GtkComboBox:insensitive,
NautilusWindow .primary-toolbar.toolbar GtkComboBox:insensitive,
NautilusWindow .primary-toolbar .toolbar .button:insensitive,
NautilusWindow .primary-toolbar.toolbar .button:insensitive,
NautilusWindow .primary-toolbar GtkArrow:insensitive
{
border-color: shade (@bg_color, 0.94);
background-image: none;
background-color: red;
color: shade (@bg_color, 0.9);
}
*/
