/* Victory (Strikes Again) Adwaita based theme by Darin */

RBDisplayPageTree OsThumb:selected,
RBDisplayPageTree OsScrollbar:selected,
NautilusPlacesSidebar OsThumb:selected,
NautilusPlacesSidebar OsScrollbar:selected,
MarlinPlacesSidebar OsThumb:selected,
MarlinPlacesSidebar OsScrollbar:selected,
TotemPlaylist GtkTreeView OsThumb:selected,
TotemPlaylist GtkTreeView OsScrollbar:selected,
FMTreeView OsThumb:selected,
FMTreeView OsScrollbar:selected,
GtkFileChooserDefault .sidebar.view OsThumb:selected,
GtkFileChooserDefault .sidebar.view OsScrollbar:selected,
FrWindow GtkTable GtkVBox GtkScrolledWindow OsThumb:selected,
FrWindow GtkTable GtkVBox GtkScrolledWindow OsScrollbar:selected
{
    background-color: mix (@sidebar_fg_color, @sidebar_bg_color, 0.45);
}

RBDisplayPageTree .cell,
RBDisplayPageTree .cell:hover,
TotemPlaylist GtkTreeView,
TotemPlaylist GtkTreeView .cell:hover,
NautilusPlacesSidebar .cell,
NautilusPlacesSidebar .cell:hover,
MarlinPlacesSidebar .cell,
MarlinPlacesSidebar .cell:hover,
FMTreeView .cell,
GtkFileChooserDefault .sidebar.view.cell,
FrWindow GtkTreeView .sidebar.view.cell,
FrWindow > GtkGrid > GtkPaned > GtkBox > GtkScrolledWindow > GtkTreeView,
FrWindow > GtkGrid > GtkPaned > GtkBox > GtkScrolledWindow > .cell,
NautilusWindow .sidebar .cell
/*,
.sidebar .cell*/
{
background-image: -gtk-gradient (linear,
				     left top, right top,
				     from (shade (@sidebar_bg_color, 1.0)),
                                     color-stop (0.20, shade (@sidebar_bg_color, 1.01)),
                                     color-stop (0.50, shade (@sidebar_bg_color, 1.03)),
				     to (shade (@sidebar_bg_color, 1.05)));
color: @sidebar_fg_color;
border-radius: 0px;
border-width: 0px;
padding:0px;
}

.sidebar-pane-separator .sidebar .cell
{
background-image: none;
background-color: @sidebar_bg_color;
color: @sidebar_fg_color;
}

.sidebar-pane-separator .sidebar .cell:selected
{
background-image: -gtk-gradient (linear,
				     left top, left bottom,
				     from (shade (@sidebar_bg_color, 1.04)),
				     to (shade (@sidebar_bg_color, 0.97)));
color: @sidebar_fg_color;
border-color: shade (@sidebar_bg_color, 0.8);
}

NautilusWindow > GtkTable > .pane-separator,
NautilusWindow .pane-separator
{
background-color: shade (@sidebar_bg_color, 1.2);
color: shade (@sidebar_bg_color, 1.2);
border-width: 0px;
}

NautilusWindow > GtkTable > .pane-separator:hover,
NautilusWindow .pane-separator:hover
{
color: shade (@sidebar_bg_color, 1.6);
}

NautilusWindow .sidebar .frame {
background-image: -gtk-gradient (linear,
				     left top, right top,
				     from (shade (@sidebar_bg_color, 1.0)),
                                     color-stop (0.20, shade (@sidebar_bg_color, 1.01)),
                                     color-stop (0.50, shade (@sidebar_bg_color, 1.03)),
				     to (shade (@sidebar_bg_color, 1.05)));
background-color: green;
border-width: 0px 0px 0px 0px;
border-right: solid 1px shade (@bg_color, 0.85);
}

NautilusWindow .sidebar .separator
{
background-image: none;
color: @transparent;
background-color: green;
height: 10px;
}


/* Section may not be necessary anymore.

RBDisplayPageTree .cell:hover,
TotemPlaylist .cell:hover,
NautilusPlacesSidebar .cell:hover,
FMTreeView .cell:hover,
GtkFileChooserDefault .sidebar.view:hover,
FrWindow GtkTable GtkVBox GtkScrolledWindow GtkTreeView:hover
{
    color: @sidebar_fg_color;
}

Section may not be necessary anymore. */


RBDisplayPageTree row:selected,
RBDisplayPageTree row:selected:focused,
RBDisplayPageTree row:selected:hover,
TotemPlaylist row:selected,
TotemPlaylist row:selected:focused,
TotemPlaylist row:selected:hover,
NautilusPlacesSidebar row:selected,
NautilusPlacesSidebar row:selected:focused,
NautilusPlacesSidebar row:selected:hover,
MarlinPlacesSidebar row:selected,
MarlinPlacesSidebar row:selected:focused,
MarlinPlacesSidebar row:selected:hover,
FMTreeView row:selected,
FMTreeView row:selected:focused,
FMTreeView row:selected:hover,
GtkFileChooserDefault .sidebar.view:selected,
GtkFileChooserDefault .sidebar.view:selected:focused,
GtkFileChooserDefault row:selected:hover,
FrWindow GtkTable GtkVBox GtkScrolledWindow GtkTreeView:selected,
FrWindow GtkTable GtkVBox GtkScrolledWindow GtkTreeView:selected:focused,
FrWindow > GtkGrid > GtkPaned > GtkBox > GtkScrolledWindow > GtkTreeView:selected,
FrWindow > GtkGrid > GtkPaned > GtkBox > GtkScrolledWindow > GtkTreeView:selected:focused,
FrWindow row:selected:hover,
NautilusWindow .sidebar row:selected,
NautilusWindow .sidebar row:selected:focused,
NautilusWindow .sidebar row:selected:hover
{
background-image: -gtk-gradient (linear,
				     left top, right top,
				     from (shade (@sidebar_bg_color, 0.82)),
                                     color-stop (0.15, shade (@sidebar_bg_color, 0.86)),
                                     color-stop (0.50, shade (@sidebar_bg_color, 0.88)),
				     to (shade (@sidebar_bg_color, 0.90)));
border: 0;
box-shadow: none;
}


RBDisplayPageTree GtkTreeView row:selected,
RBDisplayPageTree GtkTreeView row:selected:focused
{
background-color: shade (@bg_color, 0.82);
}

GtkFileChooserDefault .sidebar.separator,
GtkFileChooserDefault .sidebar.separator:hover
{
background-color: alpha (@sidebar_bg_color, 0.0);
border-color: alpha (@sidebar_bg_color, 0.0);
}

GtkFileChooserDefault .sidebar.view .separator,
GtkFileChooserDefault .sidebar.view .separator:hover
{
color: @transparent;
}

GtkFileChooserDefault .sidebar.view.separator,
GtkFileChooserDefault .sidebar.view.separator:hover
{
color: @transparent;
}

/*FrWindow GtkTable GtkVBox GtkScrolledWindow GtkTreeView expander*/

/*RBDisplayPageTree .scrollbar.trough,
TotemPlaylist GtkTreeView .scrollbar.trough,
FMTreeView .scrollbar.trough,
GtkFileChooserDefault .sidebar.view.trough,
FrWindow GtkTable GtkVBox GtkScrolledWindow .scrollbar.trough,*/
.sidebar .scrollbar.trough,
.sidebar .scrollbar.trough
{
    background-color: shade (@sidebar_bg_color, 1.2);
}

.sidebar .scrollbar
{
        -GtkRange-slider-width: 10;
}

NautilusPlacesSidebar
{
color: @sidebar_fg_color;
}

RBDisplayPageTree .expander,
RBDisplayPageTree .expander:active,
RBDisplayPageTree .expander:insensitive,
RBDisplayPageTree .expander:hover,
FrWindow .expander,
FrWindow .expander:insensitive,
FrWindow .expander:hover,
FrWindow .expander:active,
FrWindow .expander:active:hover
{
background-image: none;
color: @sidebar_fg_color;
background-color: blue;
border: none;
}
