numpy>=1.26.6
setuptools>=65.5.1
pip>=9.0
scipy>=0.16.1
scikit-learn>=0.18.1
bottleneck==1.4.1
# Reading Excel files
xlrd>=0.9.2
# Encoding detection
chardet>=3.0.2
# Multiprocessing abstraction
joblib>=0.9.4
keyring
keyrings.alt    # for alternative keyring implementations
serverfiles		# for Data Sets synchronization
