.header-bar {
    padding: 14px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: shade(@titlebar_bg_color, 0.85);
    background-color: @titlebar_bg_color;
    background-image: linear-gradient(to bottom,
                                      shade(@dark_titlebar_bg_color, 1.0),
                                      shade(@dark_titlebar_bg_color, 0.98)
                                      );
    color: @dark_titlebar_fg_color;
}

.menubar {
    -GtkWidget-window-dragging: true;

    border-style: none;
    background-color: @dark_titlebar_bg_color;
    background-image: none;
    color: @dark_titlebar_fg_color;
}

.titlebar {
    border-radius: 0;
    background-image: linear-gradient(to bottom,
                                      shade(@dark_titlebar_bg_color, 1.0),
                                      shade(@dark_titlebar_bg_color, 0.98)
                                      );

    color: @titlebar_fg_color;
}
