.xfce4-panel.panel
{
background-color: #272828;
}

.xfce4-panel.panel .button.flat
{
color: #ffffff;
border: none;
background-color: rgba(43, 46, 55, 0);
border-radius: 0;
}

.xfce4-panel.panel .button.flat:hover
{
color: #373737;
border: none;
background-color: #D9D9D9;
}

.xfce4-panel.panel .button.flat:active,
.xfce4-panel.panel .button.flat:checked
{
color: #373737;
border: none;
background-color: #FAFAFA;
}
