/* Victory (Strikes Again) Adwaita based theme by Darin */

/*
GtkPlacesSidebar .view:selected
{
    background-color: mix (@sidebar_fg_color, @sidebar_bg_color, 0.45);
}
*/

.sidebar,
.sidebar.view,
.sidebar .view,
.sidebar GtkScrolledWindow,
RBDisplayPageTree .cell,
RBDisplayPageTree .cell:hover,
MarlinPlacesSidebar .cell,
MarlinPlacesSidebar .cell:hover,
FMTreeView .cell,
FrWindow GtkTreeView .sidebar.view.cell,
FrWindow > GtkGrid > GtkPaned > GtkBox > GtkScrolledWindow > GtkTreeView,
FrWindow > GtkGrid > GtkPaned > GtkBox > GtkScrolledWindow > .cell,
FrWindow > GtkGrid > GtkPaned > GtkBox > GtkScrolledWindow .view,
GtkPlacesSidebar .view
{
background-image: none;
background-color: @sidebar_bg_color;
color: @sidebar_fg_color;
border-radius: 0px;
border-width: 0px 0px 0px 0px;
border-color: shade (@sidebar_bg_color, 0.85);
padding:0px;
}

.sidebar .list-row:hover
{
background-image: none;
background-color: @sidebar_bg_color;
}

.sidebar .list-row:selected:hover
{
background-color: @selected_bg_color;
}

.sidebar .radio
{
border-color: @sidebar_fg_color;
border-style: solid;
border-width: 1px;
background-image:none;
background-color: @sidebar_fg_color;
color: shade (@sidebar_fg_color, 0.6);
}


.sidebar .separator
{
    border-width: 0px;
    height: 0px;
    background-image:none;
    background-color: red;
    color: shade (@sidebar_bg_color, 0.95);
}

.sidebar row:selected,
.sidebar row:selected:hover,
.sidebar .view row:selected,
.sidebar .view row:selected:hover,
RBDisplayPageTree row:selected,
RBDisplayPageTree row:selected:focus,
RBDisplayPageTree row:selected:hover,
MarlinPlacesSidebar row:selected,
MarlinPlacesSidebar row:selected:focus,
MarlinPlacesSidebar row:selected:hover,
FrWindow GtkTable GtkVBox GtkScrolledWindow GtkTreeView:selected,
FrWindow GtkTable GtkVBox GtkScrolledWindow GtkTreeView:selected:focus,
FrWindow > GtkGrid > GtkPaned > GtkBox > GtkScrolledWindow > GtkTreeView:selected,
FrWindow > GtkGrid > GtkPaned > GtkBox > GtkScrolledWindow > GtkTreeView:selected:focus,
FrWindow > GtkGrid > GtkPaned > GtkBox > GtkScrolledWindow .view:selected,
FrWindow row:selected:hover,
GtkPlacesSidebar .view:selected,
GtkPlacesSidebar .view:selected:hover
{
background-image: -gtk-gradient (linear,
				     left top, right top,
				     from (shade (@sidebar_selected_bg_color, 0.82)),
                                     color-stop (0.15, shade (@sidebar_selected_bg_color, 0.86)),
                                     color-stop (0.50, shade (@sidebar_selected_bg_color, 0.88)),
				     to (shade (@sidebar_selected_bg_color, 0.90)));
border: 0;
box-shadow: none;
color: @sidebar_selected_fg_color;
}

.sidebar .view row:selected:focus,
.sidebar row:selected:focus,
.sidebar .view row:focus,
.sidebar row:focus
{
background-image: none;
background-color: shade (@selected_button_bg_color, 1.0);
color: shade (@selected_button_fg_color, 1.0);
border-color: shade (@bg_color, 0.60);
}

RBDisplayPageTree GtkTreeView row:selected,
RBDisplayPageTree GtkTreeView row:selected:focus
{
background-color: shade (@bg_color, 0.82);
}

.sidebar .scrollbar.trough,
.sidebar .scrollbar.trough
{
    background-color: shade (@sidebar_bg_color, 1.2);
}

.sidebar .scrollbar
{
        -GtkRange-slider-width: 10;
}

RBDisplayPageTree .expander,
RBDisplayPageTree .expander:active,
RBDisplayPageTree .expander:insensitive,
RBDisplayPageTree .expander:hover,
FrWindow .expander,
FrWindow .expander:insensitive,
FrWindow .expander:hover,
FrWindow .expander:active,
FrWindow .expander:active:hover
{
background-image: none;
color: @sidebar_fg_color;
background-color: blue;
border: none;
}


/* Nautilus Specific */

NautilusWindow .sidebar-icon {
    padding-left: 4px;
    padding-right: 8px;
}

NautilusWindow .sidebar .button
{
border-color: transparent;
border-style: solid;
border-width: 1px;
border-radius: 300;
padding: 2px;
background-color: @sidebar_bg_color;
color: shade (@sidebar_fg_color, 1.1);
}

NautilusWindow .sidebar .button:hover
{
background-image: none;
background-color: shade (@sidebar_fg_color, 1.4);
border-color: @sidebar_bg_color;
color: @sidebar_selected_fg_color;
}

NautilusWindow .sidebar .button:selected,
NautilusWindow .sidebar .button:hover:selected,
NautilusWindow .sidebar .button:active,
NautilusWindow .sidebar .button:focus:active,
NautilusWindow .sidebar .button:focus,
NautilusWindow .sidebar .button:active,
NautilusWindow .sidebar .button:focus:selected,
NautilusWindow .sidebar .button:selected:focus
NautilusWindow .sidebar .button:active:hover
{
background-color: shade (@sidebar_fg_color, 1.0);
border-color: shade (@sidebar_bg_color, 0.40);
color: @sidebar_selected_fg_color;
}

NautilusWindow .divider
{
width: 10px;
padding: 40px;
}
