######################## Dark Menus ########################

style "menubar"
{
	xthickness					= 0
	ythickness					= 3

	GtkMenuBar	:: internal-padding		= 0
	GtkMenuItem	:: horizontal-padding		= 8
	GtkMenuBar	:: window-dragging		= 1

	bg[SELECTED]					= shade (1.2, @tooltip_bg_color)
	fg[PRELIGHT]					= "#F8F8F8"


        engine "murrine"
	{
		menubaritemstyle			= 0
		menubarstyle				= 0
		contrast				= 0.05
		roundness				= 2
		gradient_shades				= {1.15,1.1,1.0,0.95}
	}
}

style "menu" 
{
	xthickness					= 1					#Change padding of left and right of menus
	ythickness					= 1					#Change padding of top and bottom of menus

	GtkMenu		:: vertical-padding		= 1
	GtkMenu		:: horizontal-padding		= 1

	fg[NORMAL]					= shade (1.2, "#A6A6A6")		#Menus - Font Color
	bg[NORMAL]					= "#575757" 				#Menus - Background
	bg[INSENSITIVE]					= "#575757" 				#Menus - Disabled Modifier Text & Arrows
												#Menu Scrollbutton - Background Disabled

	base[PRELIGHT]					= "white"
	base[SELECTED]					= "white"
	base[INSENSITIVE]				= "white"

	bg[PRELIGHT]					= "#484848" 				#Menu Scrollbutton(gedit statbar) Background
	fg[PRELIGHT]					= shade (1.1, "#A6A6A6")		#Menu Scrollbutton(gedit statbar) Arrow Pre
	fg[INSENSITIVE]					= "#575757"				#Menu Scrollbutton(gedit statbar) Arrow Disabled

#	text[NORMAL]					= shade (1.1, "#A6A6A6")		#Combobox Popup - Font Color

        engine "murrine"
	{
		menustyle				= 0					#0 = no vertical stripe, 1 = vertical stripe
		contrast				= 0.1
        }
}

style "menu-item"
{
	ythickness					= 3					#Changes spacing between menu items,
					    							#also adds padding to top and bottom of menubar.
												#(Also see menubar)
	GtkMenuItem	:: horizontal-padding 		= 8
	GtkMenuItem	:: arrow-spacing		= 0
	GtkMenuItem	:: arrow-scaling		= 0.5

	bg[SELECTED]					= "#616161"				#Menus - Background Prelight Color
							 					#mix (0.75, @fg_color, shade (1.0, @selected_bg_color))

	fg[NORMAL]					= shade (1.1, "#A6A6A6")		#Menus - Font Color (XFCE)
	fg[INSENSITIVE]					= shade (0.80, "#575757")		#Menus - Text Color - Disabled
	fg[PRELIGHT]					= "#F8F8F8"				#Menus - Text Color - Prelight
	bg[INSENSITIVE]					= shade (0.80, "#575757")		#Menus - Disabled Modifier Text

	text[PRELIGHT]					= "#F8F8F8"				#Combobox Popup - Text Color -Prelight

	text[NORMAL]					= shade (1.1, "#A6A6A6")		#Combobox Popup - Text Color

#	fg[ACTIVE]					= "#F8F8F8"				#Menus - Clicked on Font Color (Cardapio)

        engine "murrine"
	{
		menuitemstyle				= 0					# 0 = flat, 1 = glassy, 2 = striped
		contrast				= 0.2
		roundness				= 0
		gradient_shades				= {1.15,1.1,1.0,0.95}
        }
}

style "menu-calendar1"
{
	ythickness = 6
	xthickness = 6

	base[NORMAL]					= shade (0.95, "#575757")		#Background
	base[ACTIVE]					= shade (1.1, "#575757")		#Color behind Days of Week and Selected Date
	base[PRELIGHT]					= shade (0.8, "#575757")

	fg[NORMAL]					= shade (1.2, "#A6A6A6")		#Month/Year Text Color
	fg[PRELIGHT]					= "#F8F8F8"				#Prelight of arrows when switching Months/Years
	text[ACTIVE]					= "#F8F8F8"				#Days of Week and Selected Date
	text[NORMAL]					= shade (1.2, "#A6A6A6")		#Days of Current Month

	bg[NORMAL]					= shade (1.1, "#575757")

        engine "murrine"
	{
		menuitemstyle				= 0					# 0 = flat, 1 = glassy, 2 = striped
		contrast				= 0.2
		roundness				= 0
		gradient_shades				= {1.15,1.1,1.0,0.95}
        }

}

style "menu-calendar" = "menu"
{
	ythickness = 4
	xthickness = 6

	GtkWidget		:: focus-padding	= 3

	base[NORMAL]					= shade (0.97, "#575757")		#Background
	base[ACTIVE]					= shade (0.9, "#575757")		#Color behind Days of Week and Selected Date
	base[SELECTED]					= shade (0.9, "#575757")		#Color behind Days of Week and Selected Date
												#(Bug? Same as active but prelights)
	base[PRELIGHT]					= shade (0.85, "#575757")
	fg[PRELIGHT]					= "#F8F8F8"				#Prelight of arrows when switching Months/Years

	fg[NORMAL]					= shade (1.2, "#A6A6A6")		#Month/Year Text Color
	text[ACTIVE]					= shade (1.2, "#A6A6A6")		#Days of Week and Selected Date
	text[SELECTED]					= shade (1.2, "#A6A6A6")		#Days of Week and Selected Date
												#(Bug? Same as active but prelights)
	text[NORMAL]					= shade (1.2, "#A6A6A6")		#Days of Current Month

	bg[NORMAL]					= shade (0.87, "#575757")

	engine "murrine"
	{
		focus_color				= shade (0.8, "#575757")
	}

}

style "radiocheck-menu-item" = "menu-item"							#Color of Checks/Dots in Menus.
{
	text[PRELIGHT]					= "#F8F8F8"
	text[NORMAL]					= shade (1.1, "#A6A6A6")		#shade (0.85, shade (1.1, "#A6A6A6"))
}

style "separator-menu-item"
{
	ythickness					= 1					#Padding of top and bottom
	xthickness					= 0					#Padding of left and right

	GtkSeparatorMenuItem	:: horizontal-padding 	= 10					#Changes length
	GtkSeparatorMenuItem	:: wide-separators	= 6					#Was 0, 1 needed for Firefox
	GtkSeparatorMenuItem	:: separator-width	= 0
	GtkSeparatorMenuItem	:: separator-height	= 6					#Was 0, 1 needed for Firefox

	bg[NORMAL]					= shade (1.1, "#575757")		#shade (1.06, "#575757")

        engine "murrine"
	{
		contrast				= 0.3
        }
}

style "slider-menu"
{
	xthickness					= 1
	ythickness					= 1

	GtkScale	:: trough-border		= 0					#Limits space between end of trough
	GtkScale	:: slider-width			= 20					# Volume Slider Thickness 9
	GtkScale	:: slider-length		= 20					# Volume Slider Length 21
	GtkScale	:: trough-side-details		= 1

	GtkWidget	:: focus-line-width		= 10					#Space around trough you can click
	GtkWidget	:: focus-padding		= 0					#Space on the sides of the trough

	fg[SELECTED]					= "#474747"
	fg[INSENSITIVE]					= "#575757"

	bg[NORMAL]					= "#474747"				#Slider Color
	bg[PRELIGHT]					= "#525252"				#Slider prelight
	bg[SELECTED]					= "#828282"				#Color Played shade (0.8, @bg_color)

	bg[INSENSITIVE]					= "#46494A"
	bg[ACTIVE]					= "#575757"				#Color Not Played

	engine "murrine"
	{
		contrast				= 1.0
		roundness				= 100
		gradient_shades				= {1.2,1.4,1.75,1.9}
		sliderstyle				= 0
		focus_color				= "#575757"
		border_colors				= {"#454545","#424242"}
		glow_shade				= 1.0
		glowstyle				= 4
        }
}

style "tooltip"
{
	xthickness					= 7
	ythickness					= 6

	GtkWidget	:: new-tooltip-style		= 0

	bg[NORMAL]					= "#575757"
	fg[NORMAL]					= shade (1.1, "#A6A6A6")

	engine "murrine"
	{
		contrast				= 0.25
		roundness				= 100
		gradient_shades				= {0.97,0.99,1.02,1.09}
		border_colors				= {shade (1.02, "#575757"), shade (0.98, "#575757")}	#{shade (1.2, "#575757"), "#575757"}
		glow_shade				= 2.0
		glowstyle				= 0
        }
}

style "cardapio-dark-buttons" = "menu-item"
{
	xthickness					= 0
	ythickness					= 0

	GtkWidget	:: link-color			= "#5B72F4"
	GtkWidget	:: visited-link-color		= "#8A5BB5"

	GtkButton	:: child-displacement-x		= 0
	GtkButton	:: child-displacement-y		= 0

	GtkButton	:: inner-border			= { 3, 3, 3, 3 }

	bg[PRELIGHT]					= shade (1.1, "#575757")
	bg[ACTIVE]					= shade (1.14, "#575757")
	bg[SELECTED]					= shade (1.14, "#575757")
	bg[INSENSITIVE]					= shade (1.0, "#575757")

	#For MintMenu
	bg[NORMAL]					= "#575757"
	fg[NORMAL]					= shade (1.1, "#A6A6A6")		#Favorites Toggle Button
	fg[PRELIGHT]					= "#F8F8F8"
	fg[SELECTED]					= "#F8F8F8"
	fg[ACTIVE]					= "#F8F8F8"
	fg[INSENSITIVE]					= shade (0.75, "#575757")
	#/For MintMenu

        engine "murrine"
	{
		contrast				= 0.2
		roundness				= 3
		gradient_shades				= {1.05,0.96,1.0,1.07}
#		gradient_shades				= {1.0,1.0,1.0,1.0}
        }
}

style "cardapio-dark-app-buttons" = "menu-item"
{
	xthickness					= 0
	ythickness					= 0

	GtkWidget	:: link-color			= "#5B72F4"
	GtkWidget	:: visited-link-color		= "#8A5BB5"

	GtkButton	:: child-displacement-x		= 0
	GtkButton	:: child-displacement-y		= 0

	GtkButton	:: inner-border			= { 3, 3, 3, 3 }

	bg[PRELIGHT]					= shade (1.1, "#474747")
	bg[ACTIVE]					= shade (1.14, "#474747")
	bg[SELECTED]					= shade (1.14, "#474747")
	bg[INSENSITIVE]					= shade (1.02, "#474747")

	#For MintMenu
	bg[NORMAL]					= "#474747"
	fg[NORMAL]					= shade (1.1, "#A6A6A6")		#Favorites Toggle Button
	fg[PRELIGHT]					= "#F8F8F8"
	fg[SELECTED]					= "#F8F8F8"
	fg[ACTIVE]					= "#F8F8F8"
	fg[INSENSITIVE]					= shade (0.75, "#474747")
	#/For MintMenu

        engine "murrine"
	{
		contrast				= 0.2
		roundness				= 3
		gradient_shades				= {1.08,1.04,1.0,0.97}
#		gradient_shades				= {1.0,1.0,1.0,1.0}
        }
}

style "cardapio-search"
{
	ythickness					= 3
	xthickness					= 5

	GtkEntry	:: inner-border			= { 2, 1, 1, 1 }
        GtkEntry	:: progress-border		= { 3, 3, 2, 2 }
	GtkEntry	:: honors-transparent-bg-hint	= 1

	bg[SELECTED]					= shade (0.9, "#575757")		#Border
	bg[NORMAL]					= shade (1.13, "#575757")		#Border
	base[NORMAL]					= shade (1.1, "#575757")

	text[NORMAL]					= "#F8F8F8"

	engine "murrine"
	{
		contrast				= 0.5
	}
}

style "cardapio-apppane-workaround"
{
	text[NORMAL]					= shade (1.1, "#A6A6A6")		#Menus - Font Color
	base[NORMAL]					= shade (1.0, "#474747")		#Menus - Background
}

style "dark-scrollbar"
{
	GtkScrollbar	:: has-backward-stepper			= 0
	GtkScrollbar	:: has-forward-stepper			= 0

	GtkScrollbar	:: has-secondary-backward-stepper	= 0
	GtkScrollbar	:: has-secondary-forward-stepper	= 0
	GtkRange	:: trough-under-steppers		= 0
	GtkRange	:: stepper-size				= 1				#ArrowButtonSize: Up (Up) Down (Down)
												#Left Right (Left Right) (B A Select Start)
	GtkRange	:: arrow-scaling 			= 0.45

	GtkRange	:: trough-border			= 0

	GtkScrollbar	:: fixed-slider-length			= 0
	GtkRange	:: slider-width				= 12
	GtkScrollbar	:: min-slider-length			= 72


	bg[SELECTED]					= shade (1.45, "#484848")		#Color of Scrollbar
	bg[NORMAL]					= "#484848"				#For Handles

	fg[NORMAL]					= shade (1.5, "#484848")		#Stepper Color
	fg[INSENSITIVE]					= shade (1.5, "#484848")		#Stepper Color

	engine "murrine"
	{
		trough_shades				= { 0.9746, 0.9746 }
		gradient_shades				= {1.1,1.05,1.0,0.96}
		contrast				= 0.0
		roundness				= 1
		scrollbarstyle				= 0					#Enable/disable circles, stripes, handles
		border_colors				= { "#727272", "#646464" }
		stepperstyle				= 1					# 0 = standard, 1 = integrated handles
		glow_shade				= 1.0
		glowstyle				= 3
		prelight_shade				= 1.1
  	}
}

style "cardapio-sidebar-scrollbars"
{
	GtkScrollbar::has-backward-stepper		= 0
	GtkScrollbar::has-forward-stepper		= 0
	GtkScrollbar::has-secondary-forward-stepper	= 0
	GtkScrollbar::has-secondary-backward-stepper	= 0

	GtkScrollbar::min-slider-length			= 35
	GtkRange::slider-width				= 6
	GtkScrollbar::slider-width			= 6
	GtkRange::trough-border				= 1
	GtkRange::trough-under-steppers			= 1

}

#Cardapio Panel Menu 0.9.125+

widget		"CardapioWindow*MainPaneBorder*Button*"					style:rc	"cardapio-dark-buttons"

widget		"*MainWindowInnerArea*CategorySlab*GtkToggleButton*"			style		"cardapio-dark-buttons"
widget		"*MainWindowInnerArea*SideappSlab*Button*"				style		"cardapio-dark-buttons"

widget		"*MainWindowInnerArea*Entry"						style:highest	"cardapio-search"

widget		"ApplicationPane"							style		"cardapio-apppane-workaround"
widget		"*MainWindowInnerArea*ApplicationPane*Button*"				style:highest	"cardapio-dark-app-buttons"

widget		"*Cardapio*Scrollbar*"							style		"dark-scrollbar"

widget		"*MainWindowInnerArea*SessionPane*GtkButton*"				style		"cardapio-dark-buttons"

#MintMenu 5.1.6
widget		"mainWindow.border*.*.*.*.*.*.*.*.*"					style		"cardapio-dark-buttons"
widget		"*mintmenu*ollbar*"							style:rc	"dark-scrollbar"
widget		"*mintmenu*"								style		"cardapio-dark-buttons"

#USP (Ubuntu System Panel) 2.01
widget		"window1.border.*.*.*.*"						style		"cardapio-dark-buttons"
widget		"window1.border.*.*"							style		"menu"
widget		"window1.*crollbar*"							style		"dark-scrollbar"

widget		"*Menu*ntry*"								style:highest	"cardapio-search"	#May cause problems

widget_class	"*<GtkMenu>*<GtkCalendar>*"						style		"menu-calendar"

