######################## Dark Panel (Pixmap Engine) ########################

style "panel"
{
	WnckTasklist	:: fade-opacity			= 0.2
	font_name					= "10"
	ythickness					= 0
	xthickness					= 0
	GtkArrow	:: arrow-scaling		= 0.0
	GtkButton	:: child-displacement-x		= 0
	GtkButton	:: child-displacement-y		= 0

	GtkArrow::arrow-scaling				= 10.0


	bg[NORMAL]					= shade (1.0, "#FF0000")
	fg[NORMAL]					= shade (1.0, "#E8E8E8")


	bg[ACTIVE]					= shade (0.5, @tooltip_fg_color)			#0.865
	fg[ACTIVE]					= shade (1.0, "#ffffff")

	fg[PRELIGHT]					= shade (1.0, "#ffffff")

	bg[PRELIGHT]					= shade (0.8, @tooltip_fg_color)

       engine "pixmap"
	{
	}
}

style "panel-unity" = "panel"
{
	bg[ACTIVE]			= shade (1.5, "#575757")
	bg[NORMAL]			= shade (0.8, "#9A9B9B")
	text[NORMAL]			= shade (1.0, "#F0F0F0")
}

style "panflute-seek"
{
	xthickness					= 15
	ythickness					= 1

	GtkScale	:: trough-border		= 0
	GtkScale	:: slider-width			= 10							# Volume Slider Thickness 9
	GtkScale	:: slider-length		= 22							# Volume Slider Length 21
	GtkScale	:: trough-side-details		= 1

	GtkScrollbar	:: fixed-slider-length		= 1

	GtkWidget	:: focus-line-width		= 0
	GtkWidget	:: focus-padding		= 0

	fg[SELECTED]					= "#474747"
	fg[INSENSITIVE]					= "#4E4E4E"

	bg[NORMAL]					= "#474747"						#Slider Color When Playing
	bg[PRELIGHT]					= "#535353"						#Slider prelight
	bg[SELECTED]					= "#5C5C5C"						#Trough Color Played shade (0.8, @bg_color)

	bg[INSENSITIVE]					= "#383838"						#Slider Color When Not Playing
	bg[ACTIVE]					= "#474747"						#Trough Color Not Played

	engine "murrine"
	{
		contrast				= 0.3
		roundness				= 0
		gradient_shades				= {2.05,1.55,1.45,1.35}
		sliderstyle				= 0
		focus_color				= @bg_color
		border_colors				= {shade (1.2, "#474747"), shade (1.1, "#474747")}
        }
}

#Gnome Panel
widget_class	"*Panel*MenuBar*"							style		"panel"
widget		"*PanelApplet*"								style		"panel"

widget		"*Deskbar*Arrow" 							style		"panel"			# Deskbar Panel Applet

widget		"*panflute*Scale*"							style:rc	"panflute-seek"
widget		"*panflute*"								style		"panflute-seek"

widget		"*UnityPanel*"								style		"panel-unity"

