@define-color notebook_tab_gradient_b shade (@bg_color, 0.98);

GeditWindow .pane-separator,
GeditWindow .pane-separator:hover {
}

GeditPanel.title GtkLabel {
}

GeditPanel .toolbar {
    border-style: none;
    background-color: transparent;
}

GeditDocumentsPanel .view {
}

GeditDocumentsPanel .view:backdrop {
}

GeditWindow .notebook {
    padding: 1px;
    border-radius: 1px;
}

GeditPanel .notebook {
    padding: 3px;
    border-radius: 1px;
}

GeditPanel .notebook tab,
GeditWindow .notebook tab {
    border-radius: 3px;
}

GeditWindow .notebook tab {
	padding: 8px 6px 6px 6px;
	border-width: 1px;
	border-style: solid;
	background-image:  -gtk-gradient (linear,
				     left top, left bottom,
				     from (shade (@bg_color, 1.03)),
                                     color-stop (0.45, shade (@bg_color, 1.0)),
                                     color-stop (0.75, shade (@bg_color, 0.95)),
				     to (shade (@bg_color, 0.92)));

/************
	-adwaita-focus-border-radius: 0;
 ************/
}

GeditWindow .notebook tab:active,
GeditWindow .notebook tab:selected {
	background-image: none;
	background-color: shade (@bg_color, 1.04);
	
/************
	-adwaita-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.85)),
		to (shade (@bg_color, 0.85)));

	-adwaita-selected-tab-color: @selected_bg_color;
	-adwaita-focus-fill-color: @transparent;
 ************/
}

GeditWindow .notebook tab .button,
GeditWindow .notebook tab .button:hover,
GeditWindow .notebook tab .button:hover:active {
}
