<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://openbox.org/
                file:///usr/share/openbox/menu.xsd">

<menu id="root-menu" label="Openbox 3">
  <item label="Orange3">
    <action name="Execute"><execute>orange-canvas</execute></action>
  </item>
  <item label="Terminal">
    <action name="Execute"><execute>xterm -fa "Monospace" -fs 10</execute></action>
  </item>
  <item label="My Data">
    <action name="Execute"><execute>rox-filer /data</execute></action>
  </item>
  <!-- This requires the presence of the 'menu' package to work -->
  <menu id="/Debian" />
  <separator />
  <menu id="client-list-menu" />
  <separator />
  <item label="Configure Openbox">
    <action name="Execute"><execute>obconf</execute></action>
  </item>
  <item label="Appearance">
    <action name="Execute"><execute>lxappearance</execute></action>
  </item>c
</menu>

</openbox_menu>
